.rounded-box {
    border: 2px black;
    border-radius: 15px;
    padding: 20px;
    margin-left:35px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.row{

}
.rounded-box h5{
    font-size:35px;
    color:blue;
}
.book {
    width: 310px;
    height: 420px;
}
.image-container {
    text-align: center; /* Căn giữa hình ảnh */
}
.value {
    width: 114px;
    height: 29px;
}

.add_button {
    font-size: 18px;
    width: 190px;
    height: 45px;
    border-radius: 15px;
    color: #66C5FF;
    border: 3px solid #66C5FF;
    background-color: #ffffff;
}

.buy_button {
    font-size: 18px;
    width: 190px;
    height: 45px;
    border-radius: 15px;
    color: #ffffff;
    border: 3px solid #66C5FF;
    background-color: #66C5FF;
}

.rounded-input {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 5px;
    width: 70px;
}
.price {
    text-decoration: line-through;
    font-size: 16px;
}
.discount {
    color: red;
    text-decoration:none;
    font-size: 16px;
    margin-left: 5px; 
}
.section-custom {
    max-width: 100%;
    margin: 0 auto;
}
.input-group input {
    width: 50px;
}
.quantity{
    align-items:baseline;
}
.breadcrumbs {
    margin-top: -35px;
}

