.title {
    width: 200px;
    margin-top: 30px;
    margin-left: 0px;
    background-color: #66C5FF;
    padding: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    clip-path: polygon(0% 0%, 65% 0%, 75% 50%, 65% 100%, 0% 100%);
}

.cart-title h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: -30px;
}

.cart-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
