@{
    ViewData["Title"] = "Create";
    Layout = "Admin";
}
<link rel="stylesheet" href="/css/create_account.css" />

<div class="form-container">
    <h2>Thêm mới tài khoản</h2>

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
        <li>@error.ErrorMessage</li>                }
            </ul>
        </div>}

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <label for="name">Họ tên *</label>
        <input type="text" id="name" name="FullName" required />

        <label for="email">Email *</label>
        <input type="email" id="email" name="Email" required />

        <label for="phone">Điện thoại *</label>
        <input type="phone" id="phone" name="phone" required style="width:100%" />

        <label for="password">Mật Khẩu *</label>
        <input type="password" id="password" name="Password" required />

        <label for="image">Ảnh</label>
        <input type="file" id="image" name="Avatar" accept="image/*" onchange="previewImage(event)" />

        <div class="image-preview-container">
            <img id="imagePreview" alt="Ảnh xem trước" />
        </div>

        <label for="role">Phân quyền</label>
        <select id="role" name="RoleId">
            <option value="Quản trị viên">Quản trị viên</option>
            <option value="Quản lý nội dung">Quản trị nội dung</option>
        </select>

        <div class="status">
            <label>Trạng thái</label>
            <input type="radio" id="active" name="Status" value="Hoạt động" checked />
            <label for="active" class="active">Hoạt động</label>
            <input type="radio" id="inactive" name="Status" value="không hoạt động" />
            <label for="inactive" class="inactive">Dừng hoạt động</label>
        </div>

        <button type="submit">Tạo mới</button>
    </form>
</div>

<script src="/js/upload_img.js"></script>

