@{
    ViewData["Title"] = "Create";
    Layout = "Admin";
}
<link rel="stylesheet" href="/css/create_account.css" />

<div class="form-container">
    <h2>Thêm mới sản phẩm</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <label for="Title">Tên sản phẩm *</label>
        <input type="text" id="Title" name="Title" required />

        <label for="Description">Mô tả</label>
        <input type="text" id="Description" name="Description" />

        <label for="CategoryTitle">Danh mục </label>
        <select id="CategoryTitle" name="CategoryTitle" class="form-control">
            <option value="">Không có</option> <!-- Tùy chọn không có danh mục cha -->
            @foreach (var category in ViewBag.Categories as List<webCore.Models.Category_admin>)
            {
                <option value="@category.Title">@category.Title</option>
            }
                
        </select>
        <label for="Price">Giá</label>
        <input type="text" id="Price" name="Price" />
        <label for="DiscountPercentage">Giảm giá</label>
        <input type="text" id="DiscountPercentage" name="DiscountPercentage" />
        <label for="Stock">Số lượng</label>
        <input type="text" id="Stock" name="Stock" />
        <label for="Image">Hình ảnh</label>
        <input type="text" id="Image" name="Image" />
        <div class="status">
            <label>Trạng thái</label>
            <input type="radio" id="active" name="Status" value="Hoạt động" checked />
            <label for="active" class="active">Hoạt động</label>
            <input type="radio" id="inactive" name="Status" value="Không hoạt động" />
            <label for="inactive" class="inactive">Dừng hoạt động</label>
        </div>

        <button type="submit">Tạo mới</button>
    </form>
</div>

<script src="/js/upload_img.js"></script>

