
@{
    ViewData["Title"] = "Create";
    Layout = "Admin";
}
<link rel="stylesheet" href="/css/create_account.css" />

<div class="form-container">
    <h2>Thêm mới sản phẩm</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <label for="Title">Tên sản phẩm *</label>
        <input type="text" id="Title" name="Title" required />
        <label for="Image">Ảnh</label>
        <input type="file" id="Image" name="Image" accept="image/*" onchange="previewImage(event)" />
        <div class="image-preview-container">
            <img id="imagePreview" alt="Ảnh xem trước" />
        </div>

        <label for="Description">Mô tả</label>
        <textarea id="Description" name="Description" style="width: 100%; height: 200px;"></textarea>

        <div class="status">
            <label>Đặc trưng</label>
            <input type="radio" id="featured" name="featured" value="0" checked />
            <label for="featured" class="featured">Nổi bật</label>

            <input type="radio" id="new" name="featured" value="1" />
            <label for="new" class="new">Mới</label>

            <input type="radio" id="suggest" name="featured" value="2" />
            <label for="suggest" class="suggest">Gợi ý</label>

            <input type="radio" id="no" name="featured" value="3" />
            <label for="no" class="no">Không nổi bật</label>
        </div>

        <label for="CategoryId">Danh mục</label>
        <select id="CategoryId" name="categoryId" class="form-control" required>
            <option value="">Không có</option> <!-- Tùy chọn không có danh mục cha -->
            @if (ViewBag.Categories != null)
            {
                foreach (var category in ViewBag.Categories as List<webCore.Models.Category_admin>)
                {
                    <option value="@category.Id">@category.Title</option>
                }
            }
        </select>
        <label for="Price">Giá</label>
        <input type="text" id="Price" name="Price" />
        <label for="DiscountPercentage">Giảm giá</label>
        <input type="text" id="DiscountPercentage" name="DiscountPercentage" />
        <label for="Stock">Số lượng</label>
        <input type="text" id="Stock" name="Stock" />
        

        
        <div class="status">
            <label>Trạng thái</label>
            <input type="radio" id="active" name="Status" value="Hoạt động" checked />
            <label for="active" class="active">Hoạt động</label>
            <input type="radio" id="inactive" name="Status" value="Không hoạt động" />
            <label for="inactive" class="inactive">Dừng hoạt động</label>
        </div>

        <button type="submit">Tạo mới</button>
    </form>
</div>

<script src="/js/upload_img.js"></script>

